.topbar {
  height: 0.9rem;
  width: 15.62rem;
  padding-top: 0.14rem;
  margin: 0 auto;
  text-align: center;
  background: url("../../assets/images/top.png") center top no-repeat;
  background-size: contain;
}
