.title {
  background: url("../../assets/images/title-bg.png") 0 0 no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 0.3rem;
  font-size: 0.16rem;
  text-align: left;
  padding-left: 0.09rem;
}
